
@import "resets";


@mixin font-size($size: 1.6, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}

@mixin font-smooth{
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  }
  @else {
    @error "Error Breakpoint";
  }
}



// Si hay Google Font, entonces importala 
@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

