section.home
  .container
    .row--flex
      h1 Hola, soy un título
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit soluta officia ullam id perferendis reprehenderit corporis cupiditate sequi quod iste quasi saepe tempora temporibus odit, cum. Ex, quam?